#username, #password, #confirmPassword {
    background-color: #FBFBFB;
    color: #333;
    text-align: center;
    border: 2px solid #FFB385;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#username:focus, #password:focus, #confirmPassword:focus {
    outline: none;
}

#createAccountButton {
    font-weight: bold;
    background-color: #FFB385;
    color: #444444;
    border: none;
    padding: 12px 24px;
}

#createAccountButton:hover {
    background-color: #FFA366;
}

#createAccountResult {
    display: block;
    margin-top: 15px;
    font-size: 0.75em;
    font-weight: bold; 
    border-radius: 12px;
    background-color: #FFD5D4;
    color: #ff000d;
}