#userName{
    display: block;
    margin-bottom: 10px;
}

#logoutButton {
    background-color: #FFB385;
    color: #444444;
    border: none;
    padding: 12px 24px;
}

#logoutButton:hover {
    background-color: #FFA366;
}